.form {
    max-width: 440px;
    min-width: 440px;
    @include tablet() {
        min-width: 100%;
        max-width: 100%;
    }
    &__title {
        font-weight: bold;
        margin-bottom: 24px;
        line-height: 48px;
        font-size: 36px;
        color: white;
        font-family: 'opensans';
        @include phone() {
            font-size: 30px;
        }
    }
    &__description {
        color: #7A8F99;
        font-size: 16px;
        padding-left: 40px;
        line-height: 24px;
        margin-bottom: 10px;
        position: relative;
        @include phone() {
            font-size: 14px;
        }
        &--last {
            margin-bottom: 48px;
        }
        &::before {
            content: '';
            display: block;
            width: 18px;
            height: 14px;
            background: url('../images/icons/check.png');
            position: absolute;
            top: 3px;
            left: 10px;
        }
    }
    &__label {
        position: relative;
        margin-bottom: 16px;
        display: block;
        z-index: 1;
        position: relative;
        border-radius: 4px;
        background: #212d3e;
    }
    &__placeholder {
        color: #7A8F99;
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translateY(-50%);
        transition: .3s;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }
    &__input {
        padding: 30px 24px 8px;
        background: transparent;
        z-index: 100;
        position: relative;
        font-size: 16px;
        line-height: 24px;
        border: none;
        color: #F5F8FA;
        outline: none;
        width: 100%;
        border-radius: 4px;
        border: 1px solid transparent;
        border-color: transparent;
        cursor: pointer;
    }
    &__row {
        display: flex;
        margin-bottom: 24px;
        position: relative;
        &-values {
            display: flex;
        }
        &--mobile {
            @include phone() {
                flex-flow: column;
            }
        }
    }
    &__subtitle {
        font-size: 12px;
        color: #7A8F99;
        line-height: 16px;
        margin-right: 16px;
        @include phone() {
            margin-bottom: 16px;
            margin-right: 0;
        }
    }
    &__currency {
        width: 99px;
        height: 32px;
        background: #212d3e;
        color: #7A8F99;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 2px;
            height: 24px;
            background: #0b172a;
            position: absolute;
            top: 4px;
            right: 0;
            opacity: .3;
        }
        &--first {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            &:after {
                display: none;
            }
        }
        &-input:checked + .form__currency {
            border: 1px solid #20A86B;
            color: white;
        }
        &-input:checked + .form__currency:after {
            display: none;
        }
    }
    &__checkbox {
        display: block;
        height: 32px;
        width: 32px;
        background: #212d3e;
        margin-right: 16px;
        min-width: 32px;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        &:before {
            content: '';
            display: none;
            width: 18px;
            height: 14px;
            background: url('../images/icons/check.png');
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__agreement {
        color: #7A8F99;
        font-size: 12px;
        line-height: 16px;
        &-input:checked + .form__checkbox:before {
            display: block;
        }
    }
    &__btn {
        padding: 16px;
        width: 100%;
        border-radius: 4px;
        background: #1C945D;
        color: white;
        font-size: 16px;
        line-height: 24px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        margin-top: 8px;
        margin-bottom: 64px;
        font-family: 'opensans';
    }
}